.reviewBanner {
  background-color: #CCCCCC;
  box-shadow: 0 4px 2px 0 gray;
  position: relative;
  top: 80px;
  padding: 40px;
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
}

.selectProductText {
  background-color: #343434;
  text-align: center;
  margin: 10px auto 50px auto;
  width: fit-content;
  padding: 20px;
  font-size: 34px;
  color: white;
  font-weight: bold;
}

.reviewImageContainer {
  display: inline-block;
  margin: 30px;
}

.reviewImage {
  height: 300px;
  width: 300px;
  border: 5px solid #256595;
  border-radius: 5%;
  object-fit: cover;
}

.reviewImageTitle {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 999px) {
  .reviewBanner {
    top: 70px;
  }
}

@media screen and (max-width: 900px) {
  .reviewBanner {
    h4 {
      font-size: 17px;
    }
  }
  .selectProductText {
    font-size: 28px;
  }
  .reviewImageContainer {
    margin: 15px;
  }
  .reviewImage {
    height: 280px;
    width: 280px;
  }
}

@media screen and (max-width: 800px) {
  .reviewBanner {
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 14px;
    }
  }
  .selectProductText {
    font-size: 22px;
  }
}

@media screen and (max-width: 690px) {
  .reviewBanner {
    padding: 20px;
  }
  .selectProductText {
    font-size: 20px;
  }
}